body {
  font: 14px/1.5 Helvetica, arial, sans-serif;
  margin: 0;
}
body .page__header {
  background: #011226;
  min-height: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
body .page__header .left {
  display: flex;
  height: 100%;
  width: 30%;
  align-items: center;
}
body .page__header .left img {
  height: 100%;
}
body .page__header .left .icon {
  display: none;
  position: relative;
  right: 3%;
  width: 30px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
body .page__header .left .icon.is_active .top {
  -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
  -ms-transform: translateY(8px) translateX(0) rotate(45deg);
  transform: translateY(8px) translateX(0) rotate(45deg);
  background: #751abd;
}
body .page__header .left .icon.is_active .middle {
  opacity: 0;
  background: #751abd;
}
body .page__header .left .icon.is_active .bottom {
  -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
  -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
  transform: translateY(-8px) translateX(0) rotate(-45deg);
  background: #751abd;
}
body .page__header .left .icon div {
  background: #fff;
  border: none;
  height: 4px;
  width: 100%;
  position: absolute;
  top: -8px;
  left: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}
body .page__header .left .icon div:nth-of-type(2) {
  top: 0px;
}
body .page__header .left .icon div:nth-of-type(3) {
  top: 8px;
}
body .page__header .left #selectBox {
  width: 70px;
  position: relative;
  height: 25px;
  border-radius: 3px;
  border-bottom: solid 1px #414548;
  color: #333;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  padding: 5px;
}
body .page__header .left #selectBox .arrow {
  position: absolute;
  color: #00f97d;
  right: 0;
  top: 7%;
}
body .page__header .left #selectBox #selectMenuBox {
  transition: 0.3s;
  overflow-y: auto;
  overflow-x: hidden !important;
  position: absolute;
  margin-top: 0px;
  display: block;
  padding: 0;
}
body .page__header .left #selectBox #selectMenuBox li {
  display: block;
  padding: 10px;
  cursor: pointer;
}
body .page__header .left #selectBox #selectMenuBox li a {
  color: #fff;
}
body .page__header .left #selectBox #selectMenuBox li a img {
  width: 20px;
  margin-right: 5px;
}
body .page__header .left #selectBox #selectMenuBox li a span {
  text-transform: uppercase;
}
body .page__header .left #selectBox #selectMenuBox li.option {
  padding: 10px;
}
body .page__header .left #selectBox #selectMenuBox li.option:hover {
  transition: 0.2s;
}
body .page__header .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .page__header .right #toggle {
  display: none;
}
body .page__header .right .overlay {
  display: flex;
  align-items: center;
}
body .page__header .right .overlay .menu {
  display: flex;
  margin: 0;
  padding: 0;
}
body .page__header .right .overlay .menu li {
  list-style: none;
  margin: 0 10px;
}
body .page__header .right .overlay .menu li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
body .page__header .right .overlay .button_block .button {
  width: 140px;
  height: 45px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 5px;
}
body .page__header .right .overlay .button_block .button_01 {
  background: #8806c0;
}
body .page__header .right .overlay .button_block .button_02 {
  background: #00f08f;
  color: #000;
}
body .page__header .right .login span {
  color: #fff;
  font-size: 12px;
}
body .page__header .right .login i {
  color: #fff;
}
@media (max-width: 730px) {
  body .page__header .left .icon {
    display: block;
  }
  body .page__header .right .overlay {
    position: absolute;
    background: #fff;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    display: block;
  }
  body .page__header .right .overlay .button_block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  body .page__header .right .overlay .button_block .button {
    width: 95%;
  }
  body .page__header .right .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  body .page__header .right .overlay.open li {
    -webkit-animation: fadeInTop 0.5s ease forwards;
    animation: fadeInTop 0.5s ease forwards;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
  }
  body .page__header .right .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  body .page__header .right .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
  }
  body .page__header .right .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  body .page__header .right .overlay nav {
    position: relative;
    top: 13%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
  }
  body .page__header .right .overlay .menu {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 70%;
  }
  body .page__header .right .overlay .menu li {
    display: block;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    position: relative;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
  }
  body .page__header .right .overlay .menu li li:hover {
    border-bottom: 1px solid #8806c0;
  }
  body .page__header .right .overlay .menu li a {
    display: block;
    position: relative;
    color: #8806c2;
    text-decoration: none;
    overflow: hidden;
  }
  body .page__header .right .overlay .menu li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: #fff;
    -webkit-transition: 0.35s;
    transition: 0.35s;
  }
}
@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    top: 20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@-moz-keyframes fadeInTop {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@-o-keyframes fadeInTop {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
